{% extends "geonode_base.html" %}

{% load i18n %}
{% load client_lib_tags %}
{% block title %} {% trans "User Guide" %} - {{ block.super }} {% endblock %}

{% block body_outer %}
<style>
  .help_content{
    line-height: 2;
    font-size:1rem;
  }
  .help_content ul {
    all: revert;
  }
  .help_content a {
    all: revert;
  }
</style>
<div class="page-header">
  <h2>{% trans "User Guide" %}</h2>
</div>
<div class="help_content">
  <div class="col-md-12">
    <p class="">
      {% trans "The HSDC web application consists of three core features: Data, Maps, and Dashboards. " %}
    </p>

    {% dataset_list_url as url_dataset_browse %}
    {% map_list_url as url_maps_browse %}
    {% url 'developer' as url_developer %}

    {% blocktrans %} 
      <h3>
        1. Data Catalogue 
      </h3>
      The Data Catalog is your hub for accessing and uploading spatial data. Here is how to use it: 
      <ul>
        <li>
          You can click on each dataset to access the metadata and view it in a WebGIS interface. 
        </li>  
        <li>
          To filter the datasets, click the ‘Filter Button’ and filter by attributes, themes, owner, spatial extent and more. 
        </li>
        <li>
          To upload data, click the 'Add Resource' button, and select ‘Upload Dataset’. Drag and drop the desired data into the window and follow the instructions to add a dataset to the platform. 
        </li>
        <li>
          Alternatively, you can create a dataset directly on the platform by clicking the ‘Add Resource’ button and selecting ‘Create Dataset’. 
        </li>
        <li>
          Finally, you can also clone an existing dataset by clicking the top right corner and selecting ‘Clone’. 
        </li>
      </ul>

      <h3>
        2. Maps Section 
      </h3>

        The Maps Section enables you to access and create both static and interactive maps. Here is what you can do: 
        <ul>
          <li>
            Access the catalogue of maps, including those created by iMMAP and external organization.  
          </li>
          <li>
            To create your own map, click 'Add Resource', or clone an existing map by clicking on the top-right corner of the map feature and selecting ‘Clone’. 
          </li>
          <li>
            When you have created an empty map, you can add any dataset from the catalogue using the ‘Add dataset’ button. 
          </li>
        </ul>

      <h3>
        3. Dashboards 
      </h3>

        The Dashboards provide aggregated disaster risk information at both provincial and district levels. Here's what you can do: 
      <ul>
        <li>
          Access information on people, buildings, and areas exposed to various disaster risks like floods, avalanches, earthquakes, and landslides. 
        </li>
        <li>
          View this information through WebGIS viewers, tables, and widgets that quickly display the number of people, buildings, and areas exposed to disaster risk. 
        </li>
        <li>
          You can also create your own Dashboard following the same process as for data and maps. 
        </li>
      </ul>


      <h3>
        4. Setting Share Permissions 
      </h3>

        Share permissions control who can view and access your resources (datasets, maps, dashboards, or documents). Here's how you set them: 
      <ul>
        <li>
          Click the 'Share' button when you have a resource opened. 
        </li>
        <li>
          Adjust the permissions for all users on the ‘Anyone’ field. These are the options: 
        </li>
        <ul>
          <li>
            None – Nobody can view or download (except for you and iMMAP Admin staff). 
          </li>
          <li>
            View – Anyone can view. 
          </li>
          <li>
            Download - Anyone can view and download. 
          </li>
        </ul>

          <li>
            Alternatively, grant specific permissions to groups or individual users with the +Add User / Group option. 
          </li>

          <li>
            By default, permissions are set to 'None', which means that only the data owner (you) and iMMAP admin staff can view or download the resource. 
          </li>
          <li>
            All data will be marked by a yellow circle until they have been approved by iMMAP. 
          </li>
        </ul>

        <div>
          <h3>
            HSDC Video Guide:
          </h3>
          <div><iframe width="560" height="315" src="https://www.youtube.com/embed/PtgitL0s0eQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>  
        </div>

        <h3>
          For further guidance please see the <a target="_blank" href="https://docs.geonode.org/en/master/usage/index.html"><stong>Official Geonode Documentation</stong></a>
        </h3>

      <h3>
        Contact 
      </h3>

        Please reach out if you have any questions or require further guidance 

        Email: <a target="_blank" class="underline" href="mailto:hsdc@immap.org">hsdc@immap.org</a>
        
    {% endblocktrans %}

  </div>
</div>
{% endblock %}
