{% load static %}
{% load client_lib_tags %}
{% load client_version %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Humanitarian Spatial Data Center</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link href="{% static 'mapstore/dist/themes/geonode.css' %}?{% client_version %}" rel="stylesheet" />

    {% block extra_head %}
        <link href="{% static 'css/site_base.css' %}" rel="stylesheet" />    
    {% endblock %}
</head>
<body>
    <div class="landing_container">
        <div class="landing_topbar">
            <div class="landing_hero_content">
                <div class="landing_logo flex items-center space-x-2">
                    <img src="../../../static/img/immap_logo.png" class="w-auto h-16">
                    <p class="landing_logo_title">Humanitarian Spatial Data Center</p>
                </div>
            </div>
            <div class="gn-menu-content-right">
                <div class="">
                    <ul class="top_bar_menu_button">
                        <a class="..." href="/account/login/?next=/"><button class="landing-login-btn">Login<button></a>
                        <a class="..." href="/account/signup/"><button class="landing-register-btn">Register</button></a>
                    </ul>
                </div>
            </div>
        </div>

        <div class="landing_container_content">
            {% block left_hero %}
            <!-- The brand logo -->
            <div class="landing_hero_container flex justify-around">
                <div class="landing_hero_left">
                    <div class="landing_hero_title mt-10">
                        <h2 class="text-primary-900"> 
                            Humanitarian <br/>Spatial Data Center
                        </h2>  
                    </div>
                    <div class="landing_hero_content_desc mt-10">
                        <p>The Humanitarian Spatial Data Center (HSDC) is an information management tool for humanitarian programming in Afghanistan. It provides data and analytics related to disaster risks, demograhics, accessibity and more across Afghanistan. The platform is developed by iMMAP, funded by United States Agency for International Development (USAID) and provide to the humanitarian community in Afghanistan to enable more effective humanitarian programming and support disaster risk reduction efforts.</p>
                    </div>
                    <div class="landing_hero_counter flex">
                        <div class="counter_card">
                            <h1>50+</h1>
                            <p>Datasets</p>
                        </div>
                        <div class="counter_card">
                            <h1>5+</h1>
                            <p>Dashboards</p>
                        </div>
                        <div class="counter_card">
                            <h1>20+</h1>
                            <p>Maps</p>
                        </div>
                    </div>
                </div>
                <div class="landing_hero_right"><img src="../../../static/img/image 8.png"></div>

            </div>
            
            {% endblock %}
        </div>

        <div class="hero_section grid items-center justify-center"></div>

        <div class="features_container">
            {% block details %}
                <div class="features_header">
                    <h1>FEATURES</h1>
                </div>
                <div class="features_content">
                    <div class="features_details">
                        <img src="../../../static/img/icons8-layers-90.png" class="w-auto h-16 mt-5">
                        <h2 class="mt-5">Datasets</h2>
                        <p class="mt-5">
                            The HSDC provides access to a spatial data catalogue developed specifically for the humanitarian community. The catalogue includes detailed information on flooding, landslides, avalanches, earthquakes,  environment/terrain, infrastructure, essential services, demographics, accessibility and more. The datasets can be analyzed through the build-in interactive maps and dashboards and are available for download. The catalogue is continuously updated and can be augmented based on user requests. 
                        </p>
                    </div>
                    <div class="features_details">
                        <img src="../../../static/img/icons8-dashboard-layout-96.png" class="w-auto h-16 mt-5">
                        <h2 class="mt-5">Dashboards</h2>
                        <p class="mt-5">
                            The HSDC provides clear and rapid access to essential information through interactive dashboards. Disaster information is analyzed and translated into numbers of people, buildings and areas exposed to disaster risks at different spatial levels. The dashboards are powered by a combination of advanced disaster risk analysis and the latest data on population and infrastructure, thus providing valuable risk exposure indicators for humanitarian organizations.  
                        </p>
                    </div>
                    <div class="features_details">
                        <img src="../../../static/img/icons8-map-marker-100.png" class="w-auto h-16 mt-5">
                        <h2 class="mt-5">Maps</h2>
                        <p class="mt-5">
                            The HSDC provides access to data and analysis  through both static maps and interactive web maps. Users can overlay spatial layers such as infrastructure, demographics and disaster risks to build custom maps relevant to their activities. The interactive maps provide access to the entire spatial data catalogue and aims to serve as an online GIS environment enabling informed decision making for humanitarian organizations through easy access to spatial data. 
                        </p>
                    </div>
                </div>
            {% endblock %}
            </div>

            <div class="contact_container">
                <div class="contact_content" id="bottom">
                        <div class="contact_content_card">
                            <div class="contact_content_details">
                                <h4>CONTACT</h4>
                                <ul class="contact_contact_address">
                                    <li>
                                        <i class="fa fa-envelope"></i>
                                        <strong>Email: </strong> rep-afghanistan@immap.org
                                    </li>
                                    <li>
                                        <i class="fa fa-globe"></i>
                                        <strong>Website:</strong> www.immap.org
                                    </li>
                                </ul>
                            </div>
                        </div>
                </div>
            </div>


    </div>

    {% block footer %}
        {% include './my-templates/snippets/footer.html' %}
    {% endblock %}

    

    {% block scripts %}
    <script src="{% static "lib/js/jquery.min.js" %}"></script>
    <script src="{% static "lib/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript">
        // enable dropdown functionalities
        $('.dropdown-toggle').dropdown();
    </script>
    {% endblock %}
</body>
</html>