{% load static %}
{% load client_lib_tags %}
{% load client_version %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Humanitarian Spatial Data Center</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link href="{% static 'mapstore/dist/themes/geonode.css' %}?{% client_version %}" rel="stylesheet" />

    {% block extra_head %}
        <link href="{% static 'css/site_base.css' %}" rel="stylesheet" />    
    {% endblock %}
</head>
<body>
    <div class="landing_container">
        <div class="landing_container_content">
            {% block left_hero %}
            <!-- The brand logo -->
            <div class="landing_hero_container flex justify-around">
                <div class="landing_hero_left">
                    <div class="landing_hero_content">
                        <div class="landing_logo flex items-center space-x-2 mt-10">
                            <img src="../../../static/img/immap_logo.png" class="w-auto h-16">
                            <p class="landing_logo_title">Humanitarian Spatial Data Center</p>
                        </div>
                    </div>
                    <div class="landing_hero_title mt-10">
                        <h2 class="font-extrabold text-[36px] mb-5 text-primary-900"> 
                            Humanitarian Spatial Data Center
                        </h2>  
                    </div>
                    <div class="landing_hero_content_desc mt-10">
                        <p>The HSDC provides webmaps, dashboards and an extensive spatial data catalogue on disaster risk, infrastructure, demographics, terrain, administration, essential service, and much more, across Afghanistan. The platform is developed by iMMAP, funded by United States Agency for International Development (USAID) and provide to the humanitarian community in Afghanistan to enable more effective humanitarian programming and support disaster risk reduction efforts.</p>
                    </div>
                    <div class="gn-menu-content-right flex gap-3 items-center mt-10">
                        <div class="">
                            <ul class="">
                                <ul class="flex flex-col md:flex-row justify-between">
                                    <a class="..." href="/account/login/?next=/"><button class="landing-login-btn">Login</button></a>
                                    <a class="..." href="/account/signup/"><button class="landing-register-btn">Register</button></a>
                            </ul>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="landing_hero_right"></div>

            </div>
            
            {% endblock %}
        </div>

        <div class="hero_section grid items-center justify-center">
            <div class="hero_container  justify-center grid items-center">
                <div class="hero_title">
                    <h2>HUMANITARIAN SPATIAL DATA CENTER</h2>
                </div>
                <div class="hero_content">
                    <p>The HSDC provides webmaps, dashboards and an extensive spatial data catalogue on disaster risk, infrastructure, demographics, terrain, administration, essential service, and much more, across Afghanistan. The platform is developed by iMMAP, funded by United States Agency for International Development (USAID) and provide to the humanitarian community in Afghanistan to enable more effective humanitarian programming and support disaster risk reduction efforts.</p>
                </div>
            </div>
        </div>

        <div class="features_container">
            {% block details %}
                <div class="features_header">
                    <h1>FEATURES</h1>
                </div>
                <div class="features_content">
                    <div class="features_details">
                        <img src="../../../static/img/icons8-layers-90.png" class="w-auto h-16 mt-5">
                        <h2 class="mt-5">DATASET</h2>
                        <p class="mt-5">
                            The HSDC provides webmaps, dashboards and an extensive spatial data catalogue on disaster risk, infrastructure, demographics, terrain, administration, essential service, and much more, across Afghanistan. The platform is developed by iMMAP, funded by United States Agency for International Development (USAID) and provide to the humanitarian community in Afghanistan to enable more effective humanitarian programming and support disaster risk reduction efforts. 
                        </p>
                    </div>
                    <div class="features_details">
                        <img src="../../../static/img/icons8-map-marker-100.png" class="w-auto h-16 mt-5">
                        <h2 class="mt-5">MAP</h2>
                        <p class="mt-5">
                            The HSDC provides webmaps, dashboards and an extensive spatial data catalogue on disaster risk, infrastructure, demographics, terrain, administration, essential service, and much more, across Afghanistan. The platform is developed by iMMAP, funded by United States Agency for International Development (USAID) and provide to the humanitarian community in Afghanistan to enable more effective humanitarian programming and support disaster risk reduction efforts. 
                        </p>
                    </div>
                    <div class="features_details">
                        <img src="../../../static/img/icons8-signing-a-document-90.png" class="w-auto h-16 mt-5">
                        <h2 class="mt-5">DOCUMENT</h2>
                        <p class="mt-5">
                            The HSDC provides webmaps, dashboards and an extensive spatial data catalogue on disaster risk, infrastructure, demographics, terrain, administration, essential service, and much more, across Afghanistan. The platform is developed by iMMAP, funded by United States Agency for International Development (USAID) and provide to the humanitarian community in Afghanistan to enable more effective humanitarian programming and support disaster risk reduction efforts. 
                        </p>
                    </div>
                </div>
            {% endblock %}
            </div>

            <div class="contact_container">
                <div class="contact_content" id="bottom">
                        <div class="contact_content_card">
                            <div class="contact_content_details">
                                <h4>CONTACT</h4>
                                <ul class="contact_contact_address">
                                    <li>
                                        <i class="fa fa-envelope"></i>
                                        <strong>Email: </strong> rep-afghanistan@immap.org
                                    </li>
                                    <li>
                                        <i class="fa fa-globe"></i>
                                        <strong>Website:</strong> www.immap.org
                                    </li>
                                </ul>
                            </div>
                        </div>
                
                </div>
            </div>


    </div>

    {% block footer %}
        {% include './geonode-mapstore-client/snippets/footer.html' %}
    {% endblock %}

    

    {% block scripts %}
    <script src="{% static "lib/js/jquery.min.js" %}"></script>
    <script src="{% static "lib/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript">
        // enable dropdown functionalities
        $('.dropdown-toggle').dropdown();
    </script>
    {% endblock %}
</body>
</html>