@import url('https://fonts.googleapis.com/css2?family=Fjalla+One:wght@300;400;500;600;700;800&d&display=swap');


.landing_container{
    background-color: #fff;
}

.landing_logo .landing_logo_title{
    font-weight: bold;
    color: rgb(88, 88, 88);
}

.landing-login-btn{
    background-color: #a72824;
    color: #fff;
    padding: 1rem 3rem 1rem 3rem;
    font-weight: bold;
    border-radius: 0.25rem;
}

.landing-login-btn:hover{
    background-color: #75110e;
}


.landing-register-btn{
    color: #a72824;
    border: solid 1px #a72824;
    padding: 1rem 3rem 1rem 3rem;
    font-weight: bold;
    border-radius: 0.25rem;
    margin-left: 1rem;
}

.landing-register-btn:hover{
    color: #75110e;
    border: solid 1px #75110e;
}



.landing_hero_container .landing_hero_left .landing_hero_title h2{
    font-family: 'Fjalla One', sans-serif;
}

.landing_hero_container .landing_hero_content_desc p{
    font-family: 'Fjalla One', sans-serif;
    font-size: 10px;
    margin-right: 80px;
    font-weight: bold;
}

.landing_hero_container .landing_hero_left{
    width: 50%;
    height: auto;
    padding-top: 7rem;
    padding-left: 5rem;
}

.landing_hero_container .landing_hero_right{
    background-image: url(../img/map-test_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    width: 50%;
    /* margin: auto; */
}

.land_det_right img{
    width: 80%;
    height: auto;
}

.hero_section{
    background-color: #a72824;
    height: 500px;
}

.hero_container{
    padding: 10px;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
}

.hero_container .hero_title h2 {
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    font-weight: 800;
    color: #fff;
    margin-bottom: 36px;
  }

.hero_container .hero_content p {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    opacity: 0.9;
    font-family: 'Fjalla One', sans-serif;
  }

  .features_container .features_content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
        margin-bottom: 5rem;
  }

  .features_container .features_header h1{
    padding: 50px;
    font-size: 35px;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
  }

  .features_container .features_details{
    background-color: #fef2f2;
    padding: 4rem;
    margin: 2rem;
  }

  .features_container .features_details h2{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Fjalla One', sans-serif;
}

.contact_container .contact_content {
    background: #232323;
    color: #6f6f6f;
    padding: 5rem;
    border-bottom: 2px solid #a72824;
  }

    .contact_content_details{
    display: grid;
    line-height: 2;
  }

  .contact_content_details .contact_contact_address strong{
    margin-left: 0.50rem;
  }

  .contact_content_details h4{
    font-family: 'Fjalla One', sans-serif;
    color: #fff;
  }

@media only screen and (max-width: 1024px) {
    .landing_hero_container .landing_hero_left{
        width: 100%;
        height: auto;
        padding: 1rem;
    }
    
    .landing_hero_container .landing_hero_right{
        display: none;
    }


  .features_container .features_content{
    display: grid;
    padding: 1rem;
  }

  .landing_hero_container .landing_hero_content p{
    font-size: 20px;
    margin: 0;
    }
    
    .features_container .features_details{
        background-color: #fef2f2;
        padding: 4rem;
        margin: 1rem;
    }
}

@media only screen and (max-width: 767px) {
    .landing-login-btn{
        width: 100%;
        padding: 1rem 5rem 1rem 5rem;
    }
    .landing-register-btn{
        padding: 1rem 5rem 1rem 5rem;
        margin-left: 0;
        margin-top: 1rem;
        width: 100%;
    }
}


@media only screen and (max-width: 476px) {
    .features_container .features_details{
        background-color: #fef2f2;
        padding: 2rem;
        margin: 2rem;
      }
}

@media only screen and (max-width: 420px) {
    .features_container .features_details{
        background-color: #fef2f2;
        padding: 2rem;
        margin: 0.50rem;
      }
}