/* @import url('https://fonts.googleapis.com/css2?family=Fjalla+One:wght@300;400;500;600;700;800&d&display=swap'); */


.landing_container{
    background-color: #fff;
}

.landing_topbar{
    /* display: flex; */
    /* justify-content: space-between; */
    /* padding: 2rem 6rem; */
    /* align-items: center; */
    /* align-items: center; */
}

.landing_logo .landing_logo_title{
    font-weight: bold;
    color: rgb(88, 88, 88);
}

.top_bar_menu_button{
    display: flex;
    gap: 10px;
}

.landing-login-btn{
    background-color: #a72824;
    color: #fff;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-weight: bold;
    border-radius: 0.25rem;
}


.landing-login-btn:hover{
    background-color: #75110e;
}


.landing-register-btn{
    color: #a72824;
    border: solid 1px #a72824;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-weight: bold;
    border-radius: 0.25rem;
}

.landing-register-btn:hover{
    color: #75110e;
    border: solid 1px #75110e;
}

.landing_hero_container{
    padding-bottom: 7rem;
}

.landing_hero_container .landing_hero_left .landing_hero_title h2{
    font-family: 'Fjalla One', sans-serif;
    font-size: 60px;
    font-weight: bold;
}

.landing_hero_container .landing_hero_content_desc p{
    font-size: 20px;
    margin-right: 80px;
    text-align: justify;
}

.landing_hero_container .landing_hero_left{
    width: 50%;
    height: auto;
    padding-top: 7rem;
    padding-left: 10rem;
}

.landing_hero_counter{
    margin-top: 30px;
    flex-wrap: wrap;
    gap:80px;
}

.landing_hero_counter .counter_card h1{
    font-size: 40px;
    font-weight: bold;
}


.landing_hero_container .landing_hero_right{
    padding-top: 7rem;
    padding-right: 10rem;
}

.landing_hero_container .landing_hero_right img{
    /* width: 681px; */
    /* height: 557px; */
    /* left: 946px;
    top: 230px; */
}

.land_det_right img{
    width: 80%;
    height: auto;
}

.hero_section{
    background:linear-gradient(0deg, rgba(39, 37, 38, 0.4), rgba(27, 26, 27, 0.4)), url(../img/wantto-create-BcnjcRmtQRI-unsplash.png);

    /* Add the blur effect */
    /* filter: blur(2.5px) brightness(.8);
    -webkit-filter: blur(2.5px) brightness(.8); */

    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px; */
}

/* Position text in the middle of the page/image */
.bg-text {
  /* z-index: 2; */
  width: 80%;
  /* padding: 20px; */
}

.hero_container{
    padding: 10px;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
}

.hero_container .hero_title h2 {
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    font-weight: 800;
    color: #fff;
    margin-bottom: 36px;
  }

.hero_container .hero_content p {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    opacity: 0.9;
    font-family: 'Fjalla One', sans-serif;
  }

  .features_container .features_content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-bottom: 5rem;
  }

  .features_container .features_header h1{
    padding: 50px;
    font-size: 35px;
    /* text-align: center; */
    color: #a72824;
    font-family: 'Fjalla One', sans-serif;
  }

  .features_container .features_details{
    background-color: #f8f4f4;
    padding: 4rem;
    margin: 2rem;
    border: solid 1px #a72824;
  }

  .features_container .features_details p{
    text-align: justify;
  }

  .features_container .features_details h2{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Fjalla One', sans-serif;
}

.contact_container .contact_content {
    background: #232323;
    color: #6f6f6f;
    padding: 5rem;
    border-bottom: 2px solid #a72824;
  }

    .contact_content_details{
    display: grid;
    line-height: 2;
  }

  .contact_content_details .contact_contact_address strong{
    margin-left: 0.50rem;
  }

  .contact_content_details h4{
    font-family: 'Fjalla One', sans-serif;
    color: #fff;
  }

.row{
    display: flex;
    gap: 8px;
    align-items: center;
}

.features_container .feature_container_cards{
    display: grid;
}

@media (min-width: 1400px) {
    .features_container .feature_container_cards{
        display: flex;
    }
}

@media (max-width: 1400px) and (min-width: 1050px) {
    .features_container .feature_container_cards{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important
    }
}

@media only screen and (max-width: 1024px) {
    .landing_hero_container .landing_hero_left{
        width: 100%;
        height: auto;
        padding: 1rem;
    }

    .hero_intro_img{
        display: none;
    }

    .landing_intro_text{
        width: 100%;
    }
    
    .landing_hero_container .landing_hero_right{
        display: none;
    }


  .features_container .features_content{
    display: grid;
    padding: 1rem;
  }

  .landing_hero_container .landing_hero_content p{
    font-size: 20px;
    margin: 0;
    }
    
    .features_container .features_details{
        padding: 4rem;
        margin: 1rem;
    }

    .landing_hero_container .landing_hero_content_desc p{
        margin-right: 0;
    }

    .landing_hero_container{
        padding: 2rem;
    }
}

/* @media only screen and (max-width: 767px) {
    .landing-login-btn{
        width: 100%;
    }
    .landing-register-btn{
        margin-left: 0;
        width: 100%;
    }
} */


@media only screen and (max-width: 476px) {
    .features_container .features_details{
        background-color: #fef2f2;
        padding: 2rem;
        margin: 2rem;
      }

      
      
}

@media only screen and (max-width: 420px) {
    .features_container .features_details{
        background-color: #fef2f2;
        padding: 2rem;
        margin: 0.50rem;
      }
}


@media only screen and (max-width: 375px) {
    .landing_hero_container .landing_hero_left .landing_hero_title h2{
        font-family: 'Fjalla One', sans-serif;
        font-size: 40px;
        font-weight: bold;
    }
}

@media only screen and (max-width: 767px) {
    .landing_topbar{
        /* display: block; */
    }
    .gn-menu-content-right{
        margin-top: 10px;
    }
    .landing_logo_title{
        display: none;
      }

      .landing_topbar{

        padding: 2rem 2rem;
       
    }
}
