@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .my_input {
      @apply block w-full px-4 py-[24px] text-2xl font-semibold text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded-sm transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none;
    }

    .my_primary_btn{
        @apply inline-block w-64 py-[20px] bg-gray-800 text-white font-semibold text-xl leading-snug uppercase rounded-sm  hover:bg-red-400 hover:shadow-lg focus:shadow-lg active:bg-red-400 active:shadow-lg transition duration-150 ease-in-out ;
    }

    .my_secondary_btn{
        @apply inline-block w-64 py-[20px] bg-transparent border border-gray-800 text-xl uppercase rounded-sm  hover:shadow-lg focus:shadow-lg active:shadow-lg transition duration-150 ease-in-out ;
    }

    .input_error_state{
        @apply border-2 border-red-200;
    }
}


body {
    background: #eee !important;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    padding-top: 0px;
}

#wrap{
    margin-top: 0px;
    padding-top:0px;
}


li{
    text-align: inherit !important;
}