{% extends "email_base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block email-title %}
    Password Reset
{% endblock email-title %}

{% block email-body  %} 
<tr>
    <td style="padding:0 0 17px;">
            
            <h3>
                Hello from {{current_site.name }}
            </h3>

            <p>
                You're receiving this e-mail because you or someone else has requested a password for your user account.
                It can be safely ignored if you did not request a password reset. Click the link below to reset your password.
            </p>

            <p>
                {% if username %}{% blocktrans %}In case you forgot, your username is `{{ username }}`.{% endblocktrans %}
            </p>

            <br>
            
            <a class="btn-primary" href="{{ password_reset_url }}">Reset Here</a>
            <br>
            <br>
            {{ password_reset_url }}
            <br>

            <p>
                {% endif %} Thank you for using {{current_site.name }}
            </p>

        </td>
    </tr>
{% endblock email-body  %}