{% extends "email_base.html" %}
{% load i18n %}

{% block email-title %}
    Password Reset
{% endblock email-title %}

{% block email-body  %} 
<tr>
    <td style="padding:0 0 17px;">

            {% blocktrans with site_name=current_site.name site_domain=current_site.domain %}
                Hello from {{ site_name|urlencode }}!

                You're receiving this e-mail because you or someone else has requested a password for your user account.
                It can be safely ignored if you did not request a password reset. Click the link below to reset your password.
            {% endblocktrans %}

            <button class="btn-primary">
                <a href="{{ password_reset_url }}">Reset Link</a>
            </button>

            <p>
                {% if username %}{% blocktrans %}In case you forgot, your username is `{{ username }}`.{% endblocktrans %}
            </p>

            <p>

                {% endif %}{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}Thank you for using {{ site_name|urlencode }}!
                
            </p>
            {{ site_domain }}{% endblocktrans %}
        </td>
    </tr>
{% endblock email-body  %}