{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block body_outer %}

<div class="flex items-center gap-10 h-[500px] p-5 py-20 md:px-36">


{% if confirmation %}
    {% user_display confirmation.email_address.user as user_display %}
    
        <i class="fa fa-info-circle text-yellow-500 p-5 text-5xl"></i>
        <div>
            <h1 class="font-extrabold text-[36px] uppercase mb-5"> {% trans "Confirm E-mail Address" %}</h1>
            <p  class="text-lg text-gray-700">
                {% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}
            </p>
            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                {% csrf_token %}
                <button type="submit" class="my_primary_btn mt-10 md:w-2/3 text-white font-semibold" >
                    {% trans 'Confirm' %}
                </button>
            </form>
        </div>

{% else %}
    {% url 'account_email' as email_url %}
    <i class="fa fa-warning text-red-500 p-5 text-5xl"></i>
    <p class="text-lg text-gray-700"> {% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

</div>    
{% endif %}

{% endblock %}