{% extends "account/base.html" %}

{% load i18n %}
{% block title %}{% trans "Change Password " %}{% endblock %}

{% block body_outer %}

    <section class="flex flex-col px-6 text-gray-800 my-10 {% if token_fail %} h-[500px] justify-center {% else %} mt-10 {% endif %} ">
            
                <h2 class="font-extrabold text-[36px] uppercase mb-10 text-left">
                    {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password " %}{% endif %}
                </h2>
                    
                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p class="text-base" >{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>

                {% else %}

                    {% if form %}
                        <form  method="POST" class="w-2/3" action="{{ action_url }}">
                        {% csrf_token %}
            
                        {% if form.non_field_errors  %}
                            <div class="alert alert-danger">
                            {{ form.non_field_errors }}
                            </div>
                        {% endif %}
            
                        <!-- Password input -->
                        <div class="mb-10">
                        <label for="password" class="mb-5">New Password</label>
                        <input
                            type="password"
                            class="my_input {% if form.password1.errors %} input_error_state {% endif %}"
                            placeholder="Password"
                            id="id_password1"
                            name="password1"
                        />
                        {% if form.password1.errors %}
                            <span class=" alert-danger">
                                {{ form.password1.errors }}
                            </span>
                        {% endif %}
                        </div>
            
                        <!-- Confirm Password input -->
                        <div class="mb-10">
                            <label for="password" class="mb-5">Confirm New Password</label>
                            <input
                            type="password"
                            class="my_input {% if form.password2.errors %} input_error_state {% endif %}"
                            placeholder="Confirm New Password"
                            id="id_password2"
                            name="password2"
                            />
                            {% if form.password2.errors %}
                            <span class=" alert-danger">
                                {{ form.password2.errors }}
                            </span>
                            {% endif %}
                        </div>
            
                        <button
                            type="submit"
                            class=" my_primary_btn mb-10 w-full md:w-1/3 text-white"
                        name="action"
                        >
                        {% trans 'change password' %}
                        </button>
                        
                        </form>
                    {% else %}
                        <p>{% trans 'Your password is now changed.' %}</p>
                    {% endif %}
                    
                {% endif %}
    
          
    </section>

{% endblock %}