{% extends "basic_base.html" %}

{% load i18n %}
{% load account %}
{% load static %}


{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block body_outer %}
    <div class="min-h-screen flex  justify-center items-center gap-10 h-[500px] p-5 py-20 md:px-36">
        <div class="mt-10 xl:mt-0 xl:ml-20 xl:w-5/12 lg:w-5/12 md:w-8/12 mb-12 md:mb-0">

            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            
            <div class=" mb-24">
                <div class="flex items-center mb-16 justify-between">
                    <div class="flex items-center">
                        <a href="/">
                        <img src="{% static 'img/immap_logo.png' %}" class="w-auto h-16"  alt="iMMAP LOGO" srcset="">
                        </a>
                    </div>
                    {% comment %} <h1 class="font-extrabold text-[16px] ml-5">
                        ASDC
                    </h1> {% endcomment %}
                </div>

                <h1 class="font-extrabold text-[36px] uppercase mb-5 text-primary-900">
                    {% trans "Sent Password Reset Email" %}
                </h1>
                <p  class=" text-gray-700">
                    {% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}
                </p>

                <a href="{% url 'account_login' %}">
                    <button class="my_primary_btn mt-10 text-white font-semibold text-base">
                        Go Back to Login
                    </button>
                </a>
            </div>
    </div>
</div>
{% endblock %}