{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block title %}{% trans "Password change" %}{% endblock %}

{% block body_outer %}

<section class="flex flex-col px-6 text-gray-800 my-10  mt-10 ">
            
    <h2 class="font-extrabold text-[36px] uppercase mb-10 text-left text-primary-900">
        {% trans "Change Password " %}
    </h2>
        
    <form  method="POST" action="">
    {% csrf_token %}

    {% if form.non_field_errors  %}
        <div class="alert alert-danger">
        {{ form.non_field_errors }}
        </div>
    {% endif %}

    <!-- Password input -->
    <div class="mb-10">
        <label for="password" class="mb-5">Current Password</label>
        <input
            type="password"
            class="my_input {% if form.oldpassword.errors %} input_error_state {% endif %}"
            placeholder="Current Password"
            id="id_oldpassword"
            name="oldpassword"
        />
        {% if form.oldpassword.errors %}
            <span class=" alert-danger">
                {{ form.oldpassword.errors }}
            </span>
        {% endif %}
    </div>

    <!-- Password input -->
    <div class="mb-10">
        <label for="password" class="mb-5">New Password</label>
        <input
            type="password"
            class="my_input {% if form.password1.errors %} input_error_state {% endif %}"
            placeholder="New Password"
            id="id_password1"
            name="password1"
        />
        {% if form.password1.errors %}
            <span class=" alert-danger">
                {{ form.password1.errors }}
            </span>
        {% endif %}
    </div>

    <!-- Confirm Password input -->
    <div class="mb-10">
        <label for="password" class="mb-5">Confirm New Password</label>
        <input
        type="password"
        class="my_input {% if form.password2.errors %} input_error_state {% endif %}"
        placeholder="Confirm New Password"
        id="id_password2"
        name="password2"
        />
        {% if form.password2.errors %}
        <span class=" alert-danger">
            {{ form.password2.errors }}
        </span>
        {% endif %}
    </div>

    <button
        type="submit"
        class=" my_primary_btn mb-10 w-full md:w-1/3 text-white"
    name="action"
    >
    {% trans 'change password' %}
    </button>
    
    </form>
     
    
</section>
{% endblock %}
