{% extends "account/base.html" %}

{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block body_outer %}
   

    <div class="flex   items-center gap-10 h-[500px] p-5 py-20 md:px-36">
       
        <i class="fa fa-check text-green-900 p-5 text-5xl"> </i>
        <div>
          
            <h1 class="font-extrabold text-[36px] uppercase mb-5"> {% trans "Password Changed" %}</h1>
            <p  class="text-lg text-gray-700">
                {% trans 'Your password is now changed.' %}
            </p>

            <a
                  href="/account/login/?next=/"
                  class=""
                  >
                  <button
                  type="button"
                  class="my_primary_btn mt-10 md:w-2/3 text-white font-semibold"
              >
                  {% trans "Sign In" %}
            </button>
                </a>
          
        </div>
    </div>
{% endblock %}