{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block body_outer %}


    <div class="flex  justify-center items-center gap-10 h-[500px] p-5 py-20 md:px-36">
       
        <i class="fa fa-check text-green-900 p-5 text-5xl"> </i>
        <div>
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <h1 class="font-extrabold text-[36px] uppercase mb-5"> {% trans "Sent Password Reset Email" %}</h1>
            <p  class="text-lg text-gray-700">
                {% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}
            </p>
        </div>
    </div>

{% endblock %}