{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block body_outer %}

<div class="flex items-center gap-10 h-[500px]  py-20 ">
    <i class="fa fa-info-circle text-yellow-500 p-5 text-5xl"></i>
    <div>
        <h1 class="font-extrabold text-[36px] uppercase mb-5 text-primary-900"> {% trans "Sign Up Closed" %}</h1>
        <p  class="text-lg text-gray-700">
            {% trans "We are sorry, but the sign up is currently closed." %}
        </p>
    </div>
</div> 

{% endblock %}