{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Verify your email address" %}{% endblock %}

{% block body %}


<div class="flex items-center gap-10 h-[500px]  py-20 ">
    <i class="fa fa-info-circle text-yellow-500 p-5 text-5xl"></i>
    <div>
        <h1 class="font-extrabold text-[36px] uppercase mb-5"> {% trans "Verify your email address" %}</h1>
        <p  class="text-lg text-gray-700">
            {% blocktrans %}We have sent an email to you for verification. Follow the
        link provided to finalize the signup process. Please contact us if you do
        not receive it within a few minutes{% endblocktrans %}
        </p>
    </div>
</div>        
{% endblock %}