{% load static %}
{% load client_lib_tags %}
{% load client_version %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/immap-logo-white.png' %}" type="image/x-icon" />

    <meta name="description" content="The Humanitarian Spatial Data Center (HSDC) is an information management tool for humanitarian programming in Afghanistan. It provides data and analytics related to disaster risks, demograhics, accessibity and more across Afghanistan" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="/" />
    <meta property="og:title" content="HSDC: Humanitarian Spatial Data Center" />
    <meta property="og:description" content="The Humanitarian Spatial Data Center (HSDC) is an information management tool for humanitarian programming in Afghanistan. It provides data and analytics related to disaster risks, demograhics, accessibity and more across Afghanistan" />
    <meta property="og:image" content="{% static 'img/wantto-create-BcnjcRmtQRI-unsplash.png' %}" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="/" />
    <meta property="twitter:title" content="HSDC: Humanitarian Spatial Data Center" />
    <meta property="twitter:description" content="The Humanitarian Spatial Data Center (HSDC) is an information management tool for humanitarian programming in Afghanistan. It provides data and analytics related to disaster risks, demograhics, accessibity and more across Afghanistan" />
    <meta property="twitter:image" content="{% static 'img/wantto-create-BcnjcRmtQRI-unsplash.png' %}" />



    <title>HSDC: Humanitarian Spatial Data Center</title>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">

    {% block extra_head %}
        <link href="{% static 'css/site_base.css' %}" rel="stylesheet" />    
    {% endblock %}
    
</head>
<body>
    <div class=" ">
        <div class="shadow w-full ">
            <div class="px-24 py-1 mx-auto flex justify-between items-center">
                <div class="landing_hero_content ">
                    <div class="landing_logo flex items-center space-x-2">
                        <img src="../../../static/img/immap_logo.png" class="w-auto h-16">
                        <p class="landing_logo_title">Humanitarian Spatial Data Center</p>
                    </div>
                </div>
                <div class="gn-menu-content-right">
                    <div class="">
                        <ul class="top_bar_menu_button">
                            <a class="..." href="/account/login/?next=/"><button class="landing-login-btn">Login<button></a>
                            <a class="..." href="/account/signup/"><button class="landing-register-btn">Register</button></a>
                        </ul>
                    </div>
                </div>
            </div> 
        </div>

        <div class="container mx-auto flex justify-between items-center py-8 px-24 mb-10">
                <!-- The brand logo -->
            <div class="">
                <h2 class="mt-10 text-primary-900 font-extrabold text-6xl"> 
                    Humanitarian <br/>Spatial Data Center
                </h2>  
                <div class="landing_hero_content_desc mt-10">
                    <p>The Humanitarian Spatial Data Center (HSDC) is an information management tool for humanitarian programming in Afghanistan. It provides data and analytics related to disaster risks, demograhics, accessibity and more across Afghanistan. The platform is developed by iMMAP, funded by United States Agency for International Development (USAID) and provide to the humanitarian community in Afghanistan to enable more effective humanitarian programming and support disaster risk reduction efforts.</p>
                </div>
                <div class="landing_hero_counter flex">
                    <div class="counter_card">
                        <h1>50+</h1>
                        <p>Datasets</p>
                    </div>
                    <div class="counter_card">
                        <h1>5+</h1>
                        <p>Dashboards</p>
                    </div>
                    <div class="counter_card">
                        <h1>20+</h1>
                        <p>Maps</p>
                    </div>
                </div>
                <div class="mt-10">
                        <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=Gw_39i0qME-FKmS4zgwZ14QONBfARMhDgJ1-pixkQvJUMjI4M1BWSDY3RFJDQVcwSkRaTU1SRDU1WC4u" target="_blank"><button class="landing-login-btn row">
                            Request Service Support
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" width="18" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
                            </svg>
                        </button>
                    </a>
                </div>
            </div>

            <div class="hidden md:block">
                <img src="../../../static/img/image 8.png">
            </div>
        </div>

        {% comment %} <div class="hero_section  blur-sm brightness-75 bg-center bg-cover bg-no-repeat grid  ">
        </div> {% endcomment %}
        {% comment %} The Steps {% endcomment %}
        <section class="container mx-auto py-8 px-24">
            <h2 class="text-4xl mb-5 font-bold  text-primary-900">Upcoming Features</h2>
            <hr/>
            <div class="grid gap-5 my-16 md:grid-cols-2 lg:grid-cols-3 font-semibold">
                {% comment %} 1 {% endcomment %}
                <div class="flex gap-5 shadow border border-gray-100  items-center p-5 rounded-md bg-white">
                    <div class="flex items-center justify-center flex-shrink-0 w-12 h-12 text-xl font-bold rounded-full border-2 border-primary-700 text-gray-800 ">1</div>
                    <div class="">
                        <p class="text-lg text-left text-gray-700">
                            Earthquakes 
                        </p>
                        <p class="text-left text-gray-600 font-normal text-sm">
                            Near-real time shakemaps and estimates of people and buildings impacted by earthquakes. 
                        </p>
                    </div>
                </div>
                {% comment %} 2 {% endcomment %}
                <div class="flex  gap-5 shadow border border-gray-100 items-center p-5 rounded-md bg-white">
                    <div class="flex items-center justify-center flex-shrink-0 w-12 h-12 text-xl font-bold rounded-full border-2 border-primary-600 text-gray-800 ">2</div>
                    <div class="">
                        <p class="text-lg text-left text-gray-700">
                            Floods 
                        </p>
                        <p class="text-left text-gray-600 font-normal text-sm">
                            GLOFAS based river flood forecasts and maps of affected areas.
                        </p>
                    </div>
                </div>
                {% comment %} 3 {% endcomment %}
                <div class="flex gap-5 shadow border border-gray-100 items-center p-5 rounded-md bg-white">
                    <div class="flex items-center justify-center flex-shrink-0 w-12 h-12 text-xl font-bold rounded-full border-2 border-primary-600 text-gray-800 ">3</div>
                    <div class="">
                        <p class="text-lg text-left text-gray-700">
                            Drought 
                        </p>
                        <p class="text-left text-gray-600 font-normal text-sm">
                            Forecast of drought affected areas and type of land cover impacted.
                        </p>
                    </div>
                </div>
                {% comment %} 4 {% endcomment %}
                <div class="flex gap-5 shadow border border-gray-100 items-center p-5 rounded-md bg-white">
                    <div class="flex items-center justify-center flex-shrink-0 w-12 h-12 text-xl font-bold rounded-full border-2 border-primary-600 text-gray-800 ">4</div>
                    <div class="">
                        <p class="text-lg text-left text-gray-700">
                            Accessibility maps
                        </p>
                        <p class="text-left text-gray-600 font-normal text-sm">
                            Travel time to essential services across all of Afghanistan.
                        </p>
                    </div>
                </div>
                {% comment %} 5 {% endcomment %}
                <div class="flex gap-5 shadow border border-gray-100 items-center p-5 rounded-md bg-white">
                    <div class="flex items-center justify-center flex-shrink-0 w-12 h-12 text-xl font-bold rounded-full border-2 border-primary-600 text-gray-800 ">5</div>
                    <div class="">
                        <p class="text-lg text-left text-gray-700">
                            Climate data 
                        </p>
                        <p class="text-left text-gray-600 font-normal text-sm">
                            Detailed climate data and analysis. 
                        </p>
                    </div>
                </div>
                <div class="flex gap-5 shadow border border-gray-100 items-center p-5 rounded-md bg-white">
                    <div class="flex items-center justify-center flex-shrink-0 w-12 h-12 text-xl font-bold rounded-full border-2 border-primary-600 text-gray-800 ">6</div>
                    <div class="">
                        <p class="text-lg text-left text-gray-700">
                            Settlement level information
                        </p>
                        <p class="text-left text-gray-600 font-normal text-sm">
                            Settlement boundaries and disaster risk data at settlement level.
                        </p>
                    </div>
                </div>

            </div>
        </section>

        <div class="container mx-auto features_container py-8 px-24">
                <h2 class="text-4xl mb-5 font-bold  text-primary-900">Features</h2>
                <hr/>
                <div class="grid md:grid-cols-2 my-10 gap-6 py-4">
                    <div class="bg-primary-50/50 p-16 border border-primary-600">
                        <img src="../../../static/img/icons8-layers-90.png" class="w-auto h-16 mt-5">
                        <h2 class="mt-5 font-semibold text-xl">Datasets</h2>
                        <p class="mt-5">
                            The HSDC provides access to a spatial data catalogue developed specifically for the humanitarian community. The catalogue includes detailed information on flooding, landslides, avalanches, earthquakes,  environment/terrain, infrastructure, essential services, demographics, accessibility and more. The datasets can be analyzed through the build-in interactive maps and dashboards and are available for download. The catalogue is continuously updated and can be augmented based on user requests. 
                        </p>
                    </div>
                    <div class="bg-primary-50/50 p-16 border border-primary-600">
                        <img src="../../../static/img/icons8-dashboard-layout-96.png" class="w-auto h-16 mt-5">
                        <h2 class="mt-5 font-semibold text-xl">Dashboards</h2>
                        <p class="mt-5">
                            The HSDC provides clear and rapid access to essential information through interactive dashboards. Disaster information is analyzed and translated into numbers of people, buildings and areas exposed to disaster risks at different spatial levels. The dashboards are powered by a combination of advanced disaster risk analysis and the latest data on population and infrastructure, thus providing valuable risk exposure indicators for humanitarian organizations.  
                        </p>
                    </div>
                    <div class="bg-primary-50/50 p-16 border border-primary-600">
                        <img src="../../../static/img/icons8-map-marker-100.png" class="w-auto h-16 mt-5">
                        <h2 class="mt-5 font-semibold text-xl">Maps</h2>
                        <p class="mt-5">
                            The HSDC provides access to data and analysis  through both static maps and interactive web maps. Users can overlay spatial layers such as infrastructure, demographics and disaster risks to build custom maps relevant to their activities. The interactive maps provide access to the entire spatial data catalogue and aims to serve as an online GIS environment enabling informed decision making for humanitarian organizations through easy access to spatial data. 
                        </p>
                    </div>
                </div>
        </div>

    {% block footer %}
        {% include './my-templates/snippets/footer.html' %}
    {% endblock %}
    {% block scripts %}{% endblock %}
    </div>
</body>
</html>