
<style>
    {% block extra_css %}
        {{ custom_theme.extra_css }}
    {% endblock %}
</style>

  <!-- Start of HubSpot Embed Code -->
  <!-- <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/43632423.js"></script> -->
  <!-- End of HubSpot Embed Code -->

{% if APP_ENV == "production" %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PEK7L15G1V"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-PEK7L15G1V');
    </script>
{% endif %}