{% load static %}

<footer class="border-t-2 text-black-900 footer_container">
    <div class="flex flex-col md:flex-row justify-between text-center md:text-left">
      <div class="justify-center md:justify-start items-center">
         <div>
            <span class="space-x-2"> @ {% now "Y" %}</span> 
            iMMAP HSDC  
            <a target="_blank" class="underline" href="mailto:hsdc@immap.org">
               (hsdc@immap.org)
            </a>
         </div>
      </div>
      <div class="flex gap-4 justify-center md:justify-start items-center">
         <!-- <a href="/people/">People</a> 
         <a href="/groups/">Groups</a> -->
         <a href="/invitations/geonode-send-invite/">Invite users</a>
      </div>
    </div>
</footer>