{% load get_menu_json %}
{% get_base_left_topbar_menu as BASE_TOPBAR_MENU_LEFT %}
{% get_menu_json 'TOPBAR_MENU' as TOPBAR_MENU %}
{% get_menu_json 'TOPBAR_MENU_LEFT' as TOPBAR_MENU_LEFT %}
{% get_base_right_topbar_menu as BASE_TOPBAR_MENU_RIGHT %}
{% get_menu_json 'TOPBAR_MENU_RIGHT' as TOPBAR_MENU_RIGHT %}
{% load catalogue_urls %}
{% get_user_menu as USER_MENU %}

<nav id="{{ id|default:'' }}" class="gn-menu shadow  xl:px-16 " data-gn-menu-resize="true">
    <div class="gn-menu-container py-1">
        <div class="gn-menu-content">

            <div class="gn-menu-content-side gn-menu-content-left">
                {% block left_menu %}
                 <!-- The brand logo -->
                <!-- <div class="">
                        <ul class="">
                            <li>
                                <a href="/">
                                    {% if custom_theme.logo and custom_theme.logo.url %}
                                        <img src="{{ custom_theme.logo.url }}" class="w-auto h-16">
                                    {% else %}
                                        <img src="../../../static/img/immap_logo.png" class="w-auto h-auto">
                                    {% endif %}
                                </a>
                            </li>
                        </ul>
                </div> -->
                
                <a href="/" class="my_hidden sm:my_block">
                    {% if custom_theme.logo and custom_theme.logo.url %}
                        <img src="{{ custom_theme.logo.url }}" class="w-auto h-16">
                    {% else %}
                        <img src="../../../static/img/immap_logo.png" class="w-auto h-16">
                    {% endif %}
                </a>
                        
                <!-- The hamburger Menu -->
                <div class="dropdown">
                    <button
                        class="btn btn-primary dropdown-toggle"
                        type="button"
                        id="gn-topbar-small-menu"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="true"
                    >
                        <i class="fa fa-bars text-black-900"> </i>
                    </button>
                    <ul
                        class="dropdown-menu"
                        aria-labelledby="gn-topbar-small-menu"
                    >
                        {% for menu_item in BASE_TOPBAR_MENU_LEFT %}
                            {% include './menu_item_compact.html' with menu_item=menu_item %}
                        {% endfor %}
                        {% for menu_item in TOPBAR_MENU %}
                            {% include './menu_item_compact.html' with menu_item=menu_item variant='primary' %}
                        {% endfor %}
                        {% for menu_item in TOPBAR_MENU_LEFT %}
                            {% include './menu_item_compact.html' with menu_item=menu_item %}
                        {% endfor %}

                    </ul>
                </div>
                <ul class="gn-menu-list relative transform-none pl-16">
                    {% for menu_item in BASE_TOPBAR_MENU_LEFT %}
                        {% include './menu_item.html' with menu_item=menu_item variant='primary' %}
                    {% endfor %}
                    {% for menu_item in TOPBAR_MENU %}
                        {% include './menu_item.html' with menu_item=menu_item variant='primary' %}
                    {% endfor %}
                    {% for menu_item in TOPBAR_MENU_LEFT %}
                        {% include './menu_item.html' with menu_item=menu_item variant='primary' %}
                    {% endfor %}
                </ul>
                {% endblock %}
            </div>

          

            <div class="gn-menu-content-right flex gap-3 items-center">
                {% block right_menu %}
                

                <!-- <ul class="gn-menu-list">
                    {% for menu_item in BASE_TOPBAR_MENU_RIGHT %}
                        {% include './menu_item.html' with menu_item=menu_item variant='primary' align_right=True %}
                    {% endfor %}
                    {% for menu_item in TOPBAR_MENU_RIGHT %}
                        {% include './menu_item.html' with menu_item=menu_item variant='primary' align_right=True %}
                    {% endfor %}

                    {% block language_selector %}
                        {% include './language_selector.html' with variant='primary' align_right=True %}
                    {% endblock %}
                </ul> -->

                <!-- The user profile menu dropdown/The login and Register button -->
                <div class="flex items-center">
                    <img src="../../../static/img/early_access.png" class="h-16 my_hidden sm:my_block" width="100">
                    <ul class="flex gap-5">
                        {% for menu_item in USER_MENU %}
                            {% include './menu_item.html' with menu_item=menu_item align_right=True %}
                        {% endfor %}
                    </ul>
                </div>
                {% endblock %}
            </div>
        </div>
    </div>
</nav>
<script>
    (function () {
        function onResizeMenu(menu) {
            const menuContent = menu.querySelector('.gn-menu-content');
            const leftSide = menu.querySelector('.gn-menu-content-left');
            const leftSideMenuList = menu.querySelector('.gn-menu-content-left > .gn-menu-list');
            leftSideMenuList.style.position = 'absolute';
            leftSideMenuList.style.top = '50%';
            leftSideMenuList.style.transform = 'translateY(-50%)';
            const leftSideMenuDisplay = leftSideMenuList.style.display;
            const leftSideDropdown = menu.querySelector('.gn-menu-content-left > .dropdown');
            leftSideDropdown.style.position = 'absolute';
            leftSideDropdown.style.top = '50%';
            leftSideDropdown.style.transform = 'translateY(-50%)';
            function resize() {
                if (leftSide.clientWidth < leftSideMenuList.clientWidth) {
                    leftSideMenuList.style.visibility = 'hidden';
                    leftSideDropdown.style.visibility = 'visible';
                    console.log(1)

                    leftSideMenuList.style.display = 'none';
                    // leftSideDropdown.style.display = 'unset';
                } else {
                    leftSideMenuList.style.visibility = 'visible';
                    leftSideDropdown.style.visibility = 'hidden';
                    console.log(2)
                    leftSideMenuList.style.display = 'flex';
                    // leftSideDropdown.style.display = 'none';
                }
            }

            window.addEventListener('resize', resize);
            window.addEventListener('DOMContentLoaded', resize);

            resize();
        }
        const menus = document.querySelectorAll('[data-gn-menu-resize="true"]');
        for (var i = 0; i < menus.length; i++) {
            const menu = menus[i];
            onResizeMenu(menu);
        }
    })();
</script>
