{% load get_menu_json %}
{% get_base_left_topbar_menu as BASE_TOPBAR_MENU_LEFT %}
{% get_menu_json 'TOPBAR_MENU' as TOPBAR_MENU %}
{% get_menu_json 'TOPBAR_MENU_LEFT' as TOPBAR_MENU_LEFT %}
{% get_base_right_topbar_menu as BASE_TOPBAR_MENU_RIGHT %}
{% get_menu_json 'TOPBAR_MENU_RIGHT' as TOPBAR_MENU_RIGHT %}
{% get_user_menu as USER_MENU %}
{% load static %}

<nav id="{{ id|default:'' }}" class="gn-menu shadow  xl:px-16 " data-gn-menu-resize="true">
    <div class="gn-menu-container py-1">
        <div class="gn-menu-content">

            <div class="gn-menu-content-side gn-menu-content-left">
                {% block left_menu %}
                <!-- The brand logo -->
                <a href="/" class="brand-logo">
                    {% if custom_theme.logo and custom_theme.logo.url %}
                    <img src="{{ custom_theme.logo.url }}" class="w-auto h-16">
                    {% else %}
                    <img src="{% static 'img/immap_logo.png' %}" class="w-auto" style="height: 3rem !important">
                    {% endif %}
                </a>

                <!-- The hamburger Menu -->
                {% if request.user.is_authenticated %}
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="gn-topbar-small-menu"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-bars text-white-900"> </i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="gn-topbar-small-menu">
                        {% for menu_item in BASE_TOPBAR_MENU_LEFT %}
                        {% include './menu_item_compact.html' with menu_item=menu_item %}
                        {% endfor %}
                        {% for menu_item in TOPBAR_MENU %}
                        {% include './menu_item_compact.html' with menu_item=menu_item variant='primary' %}
                        {% endfor %}
                        {% for menu_item in TOPBAR_MENU_LEFT %}
                        {% include './menu_item_compact.html' with menu_item=menu_item %}
                        {% endfor %}

                    </ul>
                </div>

                <ul class="gn-menu-list relative transform-none pl-16">
                    {% for menu_item in BASE_TOPBAR_MENU_LEFT %}
                    {% include './menu_item.html' with menu_item=menu_item variant='primary' %}
                    {% endfor %}
                    {% for menu_item in TOPBAR_MENU %}
                    {% include './menu_item.html' with menu_item=menu_item variant='primary' %}
                    {% endfor %}
                    {% for menu_item in TOPBAR_MENU_LEFT %}
                    {% include './menu_item.html' with menu_item=menu_item variant='primary' %}
                    {% endfor %}
                </ul>
                {% endif %}


                {% endblock %}
            </div>

            <div class="gn-menu-content-right flex gap-3 items-center">
                {% block right_menu %}
                <!-- The user profile menu dropdown/The login and Register button -->
                <div class="flex items-center">
                    <!-- <img src="../../../static/img/early_access.png" class="h-16 my_hidden sm:my_block" width="100"> -->
                    <ul class="flex gap-5">
                        {% for menu_item in USER_MENU %}
                        {% include './menu_item.html' with menu_item=menu_item align_right=True %}
                        {% endfor %}
                    </ul>
                </div>
                {% endblock %}
            </div>
        </div>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const menus = document.querySelectorAll('[data-gn-menu-resize="true"]');
        menus.forEach(menu => {
            onResizeMenu(menu);
        });

        function onResizeMenu(menu) {
            const menuContent = menu.querySelector('.gn-menu-content');
            const leftSide = menu.querySelector('.gn-menu-content-left');
            const leftSideMenuList = menu.querySelector('.gn-menu-content-left > .gn-menu-list');
            const leftSideDropdown = menu.querySelector('.gn-menu-content-left > .dropdown');
            const brandLogo = menu.querySelector('.brand-logo');
            
            if (leftSideMenuList && leftSideDropdown) {
                leftSideMenuList.style.position = 'absolute';
                leftSideMenuList.style.top = '50%';
                leftSideMenuList.style.transform = 'translateY(-50%)';
                
                leftSideDropdown.style.position = 'absolute';
                leftSideDropdown.style.top = '50%';
                leftSideDropdown.style.transform = 'translateY(-50%)';
                
                function resize() {
                    if (leftSide.clientWidth < leftSideMenuList.clientWidth) {
                        leftSideMenuList.style.visibility = 'hidden';
                        leftSideDropdown.style.visibility = 'visible';
                        leftSideMenuList.style.display = 'none';
                        brandLogo.style.display = 'none';
                    } else {
                        leftSideMenuList.style.visibility = 'visible';
                        leftSideDropdown.style.visibility = 'hidden';
                        leftSideMenuList.style.display = 'flex';
                        brandLogo.style.display = 'block';
                    }
                }
    
                window.addEventListener('resize', resize);
                resize();
            }
        }
    });
</script>