{% load static %}
{% load client_lib_tags %}
{% load client_version %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/immap-logo-white.png' %}" type="image/x-icon" />

    <meta name="description" content="The Humanitarian Spatial Data Center (HSDC) is an information management tool for humanitarian programming in Afghanistan. It provides data and analytics related to disaster risks, demograhics, accessibity and more across Afghanistan" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:title" content="HSDC: Humanitarian Spatial Data Center" />
    <meta property="og:description" content="The Humanitarian Spatial Data Center (HSDC) is an information management tool for humanitarian programming in Afghanistan. It provides data and analytics related to disaster risks, demograhics, accessibity and more across Afghanistan" />
    <meta property="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'img/meta_banner.webp' %}" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="{{ request.build_absolute_uri }}" />
    <meta property="twitter:title" content="HSDC: Humanitarian Spatial Data Center" />
    <meta property="twitter:description" content="The Humanitarian Spatial Data Center (HSDC) is an information management tool for humanitarian programming in Afghanistan. It provides data and analytics related to disaster risks, demograhics, accessibity and more across Afghanistan" />
    <meta property="twitter:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'img/meta_banner.webp' %}" />



    <title>HSDC: Humanitarian Spatial Data Center</title>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">

    {% block extra_head %}
        <link href="{% static 'css/site_base.css' %}" rel="stylesheet" />    
    {% endblock %}

    {% if APP_ENV == "production" %}
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-PEK7L15G1V"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-PEK7L15G1V');
        </script>
    {% endif %}
    
</head>
<body>
    <main class="bg-gray-50">
        {% comment %} Navbar {% endcomment %}
        <div class="border border-primary-50 w-full bg-white">
            <div class="px-24 py-1 mx-auto flex justify-between items-center">
                <div class="landing_hero_content ">
                    <div class="landing_logo flex items-center space-x-2">
                        <img src="../../../static/img/immap_logo.png" class="w-auto h-16">
                    </div>
                </div>
                <div class="gn-menu-content-right">
                    <div class="">
                        <ul class="top_bar_menu_button">
                            <a class="..." href="/account/login/?next=/"><button class="landing-login-btn">Login<button></a>
                            <a class="..." href="/account/signup/"><button class="landing-register-btn">Register</button></a>
                        </ul>
                    </div>
                </div>
            </div> 
        </div>

        {% comment %} Masthead {% endcomment %}
        <div class="container mx-auto flex justify-between items-center py-8 px-24 mb-20">
                <!-- The brand logo -->
            <div class="landing_intro_text">
                <h2 class="mt-10 text-primary-900 font-extrabold text-6xl"> 
                    Humanitarian <br/>Spatial Data Center
                </h2>  
                <div class="landing_hero_content_desc mt-10 ">
                    <p class="text-gray-600 ">
                        HSDC: An Information Management Tool for Humanitarian Programming in Afghanistan. Developed by iMMAP and funded by USAID, HSDC offers comprehensive data and analytics on disaster risks, demographics, accessibility, and more throughout Afghanistan. It's a vital resource for the humanitarian community, enabling more effective programming and supporting disaster risk reduction efforts.
                    </p>
                </div>
                <div class="landing_hero_counter flex">
                    <div class="counter_card">
                        <h1>50+</h1>
                        <p>Datasets</p>
                    </div>
                    <div class="counter_card">
                        <h1>5+</h1>
                        <p>Dashboards</p>
                    </div>
                    <div class="counter_card">
                        <h1>20+</h1>
                        <p>Maps</p>
                    </div>
                </div>
                <div class="mt-10 w-fit">
                    <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=Gw_39i0qME-FKmS4zgwZ14QONBfARMhDgJ1-pixkQvJUMjI4M1BWSDY3RFJDQVcwSkRaTU1SRDU1WC4u" target="_blank" class="w-fit">
                        <button class="landing-login-btn row">
                            Request Service Support
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" width="18" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
                            </svg>
                        </button>
                    </a>
                </div>

            </div>

            <div class="hero_intro_img">
                <img src="../../../static/img/image 8.png">
            </div>
        </div>

        {% comment %} Features {% endcomment %}
        <div class="container mx-auto features_container py-8 px-24">
            <div style="width: 100%; border-top: 1px solid #c8c8c8;"></div>
            <div class="md:w-2/3 lg:w-1/2 mt-16">
                <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red" class="w-6 h-6 text-secondary">
                    <path fill-rule="evenodd" d="M9 4.5a.75.75 0 01.721.544l.813 2.846a3.75 3.75 0 002.576 2.576l2.846.813a.75.75 0 010 1.442l-2.846.813a3.75 3.75 0 00-2.576 2.576l-.813 2.846a.75.75 0 01-1.442 0l-.813-2.846a3.75 3.75 0 00-2.576-2.576l-2.846-.813a.75.75 0 010-1.442l2.846-.813A3.75 3.75 0 007.466 7.89l.813-2.846A.75.75 0 019 4.5zM18 1.5a.75.75 0 01.728.568l.258 1.036c.236.94.97 1.674 1.91 1.91l1.036.258a.75.75 0 010 1.456l-1.036.258c-.94.236-1.674.97-1.91 1.91l-.258 1.036a.75.75 0 01-1.456 0l-.258-1.036a2.625 2.625 0 00-1.91-1.91l-1.036-.258a.75.75 0 010-1.456l1.036-.258a2.625 2.625 0 001.91-1.91l.258-1.036A.75.75 0 0118 1.5zM16.5 15a.75.75 0 01.712.513l.394 1.183c.15.447.5.799.948.948l1.183.395a.75.75 0 010 1.422l-1.183.395c-.447.15-.799.5-.948.948l-.395 1.183a.75.75 0 01-1.422 0l-.395-1.183a1.5 1.5 0 00-.948-.948l-1.183-.395a.75.75 0 010-1.422l1.183-.395c.447-.15.799-.5.948-.948l.395-1.183A.75.75 0 0116.5 15z" clip-rule="evenodd"></path>
                </svg> -->
                
                <h2 class="my-8 text-2xl font-bold text-primary-900 md:text-4xl">
                    Current Features
                </h2>
                <p class="text-gray-600 ">Our platform comes packed with powerful features to help you achieve your goals. Here are some of the things you can expect:</p>
                
            </div>
            <div class="feature_container_cards my-10 gap-6 py-4">
                <div class="bg-white rounded-3xl p-16 border border-primary-50">
                    <img src="{% static 'img/layer.svg' %}" class="h-16 mt-5 w-12" width="512" height="512">
                    <h2 class="mt-5 font-semibold text-xl">Datasets</h2>
                    <p class="mt-5 text-gray-600 ">
                        The HSDC provides access to a spatial data catalogue developed specifically for the humanitarian community. The catalogue includes detailed information on <strong>flooding, landslides, avalanches, earthquakes,  environment/terrain, infrastructure, essential services, demographics, accessibility and more.</strong> The datasets can be analyzed through the build-in interactive maps and dashboards and are available for download. The catalogue is continuously updated and can be augmented based on user requests. 
                    </p>
                </div>
                <div class="bg-white rounded-3xl p-16 border border-primary-50">
                    <img src="{% static 'img/dashboard.svg' %}" class="h-16 mt-5 w-12" width="512" height="512">
                    <h2 class="mt-5 font-semibold text-xl">Dashboards</h2>
                    <p class="mt-5 text-gray-600 ">
                        The HSDC provides clear and rapid access to essential information through interactive dashboards. Disaster information is analyzed and translated into numbers of people, buildings and areas exposed to disaster risks at different spatial levels. The dashboards are powered by a combination of <strong> advanced disaster risk analysis and the latest data on population and infrastructure,</strong> thus providing valuable risk exposure indicators for humanitarian organizations.  
                    </p>
                </div>
                <div class="bg-white rounded-3xl p-16 border border-primary-50">
                    <img src="{% static 'img/map-2.svg' %}" class="h-16 mt-5 w-12" width="512" height="512">
                    <h2 class="mt-5 font-semibold text-xl">Maps</h2>
                    <p class="mt-5 text-gray-600 ">
                        The HSDC provides access to data and analysis  through both static maps and interactive web maps. Users can <strong>overlay spatial layers</strong> such as infrastructure, demographics and disaster risks to <strong>build custom maps</strong> relevant to their activities. The interactive maps provide access to the entire spatial data catalogue and aims to serve as an online GIS environment enabling <strong>informed decision making</strong> for humanitarian organizations through easy access to spatial data. 
                    </p>
                </div>
            </div>
        </div>

        {% comment %} Upcomming Features {% endcomment %}
        <div class="container mx-auto py-8 px-24 mb-20">
            <div class="">
                <div style="width: 100%; border-top: 1px solid #c8c8c8;"></div>
                <div class="md:w-2/3 lg:w-1/2 mt-16">
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red" class="w-6 h-6 text-secondary">
                        <path fill-rule="evenodd" d="M9 4.5a.75.75 0 01.721.544l.813 2.846a3.75 3.75 0 002.576 2.576l2.846.813a.75.75 0 010 1.442l-2.846.813a3.75 3.75 0 00-2.576 2.576l-.813 2.846a.75.75 0 01-1.442 0l-.813-2.846a3.75 3.75 0 00-2.576-2.576l-2.846-.813a.75.75 0 010-1.442l2.846-.813A3.75 3.75 0 007.466 7.89l.813-2.846A.75.75 0 019 4.5zM18 1.5a.75.75 0 01.728.568l.258 1.036c.236.94.97 1.674 1.91 1.91l1.036.258a.75.75 0 010 1.456l-1.036.258c-.94.236-1.674.97-1.91 1.91l-.258 1.036a.75.75 0 01-1.456 0l-.258-1.036a2.625 2.625 0 00-1.91-1.91l-1.036-.258a.75.75 0 010-1.456l1.036-.258a2.625 2.625 0 001.91-1.91l.258-1.036A.75.75 0 0118 1.5zM16.5 15a.75.75 0 01.712.513l.394 1.183c.15.447.5.799.948.948l1.183.395a.75.75 0 010 1.422l-1.183.395c-.447.15-.799.5-.948.948l-.395 1.183a.75.75 0 01-1.422 0l-.395-1.183a1.5 1.5 0 00-.948-.948l-1.183-.395a.75.75 0 010-1.422l1.183-.395c.447-.15.799-.5.948-.948l.395-1.183A.75.75 0 0116.5 15z" clip-rule="evenodd"></path>
                    </svg> -->
                    
                    <h2 class="my-8 text-2xl font-bold text-primary-900 md:text-4xl">
                        Upcoming Features
                    </h2>
                    <p class="text-gray-600 ">Our platform is constantly evolving to provide you with the most comprehensive and up-to-date information. Here's a sneak peek of our upcoming features:</p>
                    
                </div>

                <div class="shadow mt-16 grid divide-x divide-y divide-primary-50 overflow-hidden rounded-3xl border border-primary-50 text-gray-600  sm:grid-cols-2 lg:grid-cols-3 lg:divide-y-0">

                    <div class="group relative bg-white  transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
                        <div class="relative space-y-8 py-12 p-8">
                        <img src="{% static 'img/earthquakes.svg' %}" class="w-12" width="512" height="512" alt="burger illustration">

                        
                        <div class="space-y-2">
                            <h5 class="text-xl font-semibold text-gray-700  transition group-hover:text-secondary">
                                Earthquakes
                            </h5>
                            <p class="text-gray-600 ">
                                Near-real time shakemaps and estimates of people and buildings impacted by earthquakes.
                            </p>
                        </div>
                        <!-- <a href="#" class="flex items-center justify-between group-hover:text-secondary">
                            <span class="text-sm"></span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                            <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd"></path>
                            </svg>                
                        </a> -->
                        </div>
                    </div>

                    <div class="group relative bg-white  transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
                        <div class="relative space-y-8 py-12 p-8">
                        <img src="{% static 'img/flood.svg' %}" class="w-12" width="512" height="512" alt="burger illustration">

                        <div class="space-y-2">
                            <h5 class="text-xl font-semibold text-gray-700  transition group-hover:text-secondary">
                                Floods
                            </h5>
                            <p class="text-gray-600 ">
                                GLOFAS based river flood forecasts and maps of affected areas.
                            </p>
                        </div>
                        <!-- <a href="#" class="flex items-center justify-between group-hover:text-secondary">
                            <span class="text-sm"></span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                            <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd"></path>
                            </svg>                
                        </a> -->
                        </div>
                    </div>

                    <div class="group relative bg-white  transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
                        <div class="relative space-y-8 py-12 p-8">
                        <img src="{% static 'img/drought.svg' %}" class="w-12" width="512" height="512" alt="burger illustration">

                        <div class="space-y-2">
                            <h5 class="text-xl font-semibold text-gray-700  transition group-hover:text-secondary">
                                Drought
                            </h5>
                            <p class="text-gray-600 ">
                                Forecast of drought affected areas and type of land cover impacted.
                            </p>
                        </div>
                        <!-- <a href="#" class="flex items-center justify-between group-hover:text-secondary">
                            <span class="text-sm"></span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                            <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd"></path>
                            </svg>                
                        </a> -->
                        </div>
                    </div>

                </div>

                <div class="shadow mt-5 grid divide-x divide-y divide-primary-50 overflow-hidden rounded-3xl border border-primary-50 text-gray-600  sm:grid-cols-2 lg:grid-cols-3 lg:divide-y-0">

                    <div class="group relative bg-white  transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
                        <div class="relative space-y-8 py-12 p-8">
                        <img src="{% static 'img/map.svg' %}" class="w-12" width="512" height="512" alt="burger illustration">


                        <div class="space-y-2">
                            <h5 class="text-xl font-semibold text-gray-700  transition group-hover:text-secondary">
                             Accessibility maps
                            </h5>
                            <p class="text-gray-600 ">
                            Travel time to essential services across all of Afghanistan.
                            </p>
                        </div>
                        <!-- <a href="#" class="flex items-center justify-between group-hover:text-secondary">
                            <span class="text-sm"></span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                            <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd"></path>
                            </svg>                
                        </a> -->
                        </div>
                    </div>

                    <div class="group relative bg-white  transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
                        <div class="relative space-y-8 py-12 p-8">
                        <img src="{% static 'img/climate.svg' %}" class="w-12" width="512" height="512" alt="burger illustration">

                        <div class="space-y-2">
                            <h5 class="text-xl font-semibold text-gray-700  transition group-hover:text-secondary">
                                Climate data
                            </h5>
                            <p class="text-gray-600 ">
                            Detailed climate data and analysis.
                            </p>
                        </div>
                        <!-- <a href="#" class="flex items-center justify-between group-hover:text-secondary">
                            <span class="text-sm"></span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                            <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd"></path>
                            </svg>                
                        </a> -->
                        </div>
                    </div>

                    <div class="group relative bg-white  transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
                        <div class="relative space-y-8 py-12 p-8">
                        <img src="{% static 'img/settlement.svg' %}" class="w-12" width="512" height="512" alt="burger illustration">

                        <div class="space-y-2">
                            <h5 class="text-xl font-semibold text-gray-700  transition group-hover:text-secondary">
                            Settlement level information
                            </h5>
                            <p class="text-gray-600 ">
                            Settlement boundaries and disaster risk data at settlement level.
                            </p>
                        </div>
                        <!-- <a href="#" class="flex items-center justify-between group-hover:text-secondary">
                            <span class="text-sm"></span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                            <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd"></path>
                            </svg>                
                        </a> -->
                        </div>
                    </div>

                </div>
            </div>
        </div>

        {% block footer %}
            {% include 'myapp/footer.html' %}
        {% endblock %}

        {% block scripts %}{% endblock %}
    </main>
</body>
</html>